#productDetails {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
}

#productDetails img {
    width: 300px;
    height: auto;
    margin: 10px auto;
    border: 1px solid black;
}

#productDetails p {
    font-size: 20px;
    margin-bottom: 10px;
}

#productDetails input[type="number"] {
    width: 60px;
    text-align: center;
    padding: 5px;
}

#productDetails button {
    padding: 20px 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}