body {
    height: 400%;
}

header {
    padding: 15px 0;
    text-align: center;
    font-size: 36px;
    background-color: rgb(111, 111, 239);
    color: white;
}

header a {
    float: right;
    margin-right: 5%;
    text-decoration: none;
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.cart-details {
    float: left;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px;
}

.product-details {
    display: flex;
}

.sub-cart {
    list-style: none;

}

.pagination {
    margin-left: 30%;
    border-radius: 20px;
}

.pagination button {
    font-size: 24px;
}

.pagination button.active {
    background-color: green;
    color: white;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: calc(35% - 20px);
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-price {
    font-weight: bold;
    margin-top: 10px;
}

#cart {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-top: 20%;
    margin-right: 4%;
    border: 1px solid black;
}

#section {
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    margin: 30px;
    text-decoration: none;
}

.sub-category {
    font-size: 36px;
}

.payment {
    font-size: 24px;
    margin: 10px auto;
    padding: 10px;
}